<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        <h1>{{ category.getName }}</h1>

        {% if tasks is not empty %}
            <p>Here be thine relevant tasks:</p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a task</h4>


        <form action="/relevant_tasks" method="post">

            <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">

            <label for='description'>Task Description</label>
            <input id='description' name='description' type='text'>

            <button type="submit" class="btn btn-danger">Add task</button>
        </form>

        <p><a href="/">Home</a></p>
    </div>
</body>
</html>
