<html>
<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
</head>
<body>
    <h1>List Cleared!</h1>
    <p><a href='/'>Home</a></p>
</body>
</html>
