<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the List</h1>

        <p>Create a new category</p>

        <form action="/categories" method="post">
            <div class="form-group">
                <label for="name">Category name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
                <button type="submit" class="btn btn-danger">Add category</button>
        </form>

        {% if categories is not empty %}
            <p>Here be your cats</p>
            <ul>
                {% for cat in categories %}
                    <li><a href="/categories/{{ cat.getId }}">{{ cat.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no cats here.  Go to the human society.</p>
        {% endif %}
        <form action="/delete_categories" method="post">
            <button type="submit" class="btn btn-danger">Clear All Categories</button>
        </form>

        <p><a href="/show_all_tasks">View all tasks</a></p>
    </div>
</body>
</html>
