<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Welcome to the List</h1>
    <p><a href="/categories">Click Here</a> to see all the categories and to add one.</p>
    <p><a href="/tasks">Click Here</a> to see all tasks and make one.</p>
</body>
</html>
